* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* top section of the page includes logo and menu */

.top-section {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    background-image: url("assets/assets/spiced.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 200px;
}

.menu {
    background-image: url("assets/assets/hamburgermenu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 60px;
}
/* top most content of the website includes the background img and the button */

.main-section-top {
    height: 50vh;
    /*width: 100vw; */
}
.backg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("assets/assets/spices.jpg");
}

h1 {
    font-size: 5rem;
    color: white;
    font-style: italic;
}

.content-h1-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(255, 208, 0);
    border: 3px solid;
    border-radius: 2rem;
    border-color: rgb(231, 117, 4);
    color: rgb(231, 117, 4);
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 2rem;
    padding: 2px 3rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(231, 117, 4);
    border-color: rgb(255, 208, 0);
    color: rgb(255, 208, 0);
}

button:active {
    background-color: black;
}

/* lower content of the website includes the images and the articles */

.main-section-bot {
    background-color: lightgray;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

#boxes {
    width: 50%;
    height: 100px;
    display: flex;
    padding-left: 1rem;
}

#icon {
    padding-right: 1rem;
}

/* footer */

footer {
    background-color: grey;
    padding-left: 3rem;
    color: white;
}

@media (max-width: 600px) {
    .main-section-bot {
        flex-direction: column;
        gap: 15px;
    }
}
