* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.top-section {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0.5rem;
}

.logo {
    background-image: url("assets/assets/spiced.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100px;
}

.menu {
    background-image: url("assets/assets/hamburgermenu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 60px;
}

.main-section-top {
    height: 50vh;
    width: 100vw;
}
.backg-img {
    background-image: url("assets/assets/spices.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    color: white;
    font-style: italic;
}

button {
    background-color: rgb(255, 208, 0);
    border: 3px solid;
    border-radius: 2rem;
    border-color: rgb(231, 117, 4);
    color: rgb(231, 117, 4);
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 2rem;
    padding: 2px 3rem;
}
