* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
}

/* #player {
    background-color: black;
    height: 7px;
    width: 70px;
    position: relative;
    bottom: 2px;
}
 */
