* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* exercise 1 */

#box {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: darkred;
}

/* Exercise 2 */

/* #box {
    height: 100px;
    width: 100px;
    border: black solid;
} */

/* Exercise 3 */

/* #box {
    height: 200px;
    width: 200px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    height: 50px;
    width: 50px;
    background-color: limegreen;
}
 */
