* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
}

.outerbox1 {
    background-color: grey;
    height: 300px;
    width: 300px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.outerbox2 {
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.outerbox3 {
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.outerbox4 {
    background-color: purple;
    height: 300px;
    width: 300px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.innerbox1 {
    height: 150px;
    width: 150px;
    background-color: orange;
    grid-column: 2/-1;
}

.innerbox2 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.innerbox3 {
    height: 150px;
    width: 150px;
    background-color: green;
    grid-row: 2/-1;
}

.innerbox4 {
    height: 150px;
    width: 150px;
    background-color: pink;
}
