* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Homepage */
.content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.userContainer {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 100px;
    grid-template-rows: auto;
    min-width: 500px;
    margin-top: 20px;
}

.userContainer p {
    font-weight: bold;
    border-bottom: black 2px solid;
    padding: 3px;
}

.userContainer li {
    border-bottom: black 1px solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Buttons */

.buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.buttons a {
    border-radius: 5px;
    background-color: #1d90ff;
    color: white;
    text-decoration: none;
    padding: 5px;
    min-height: 50px;
    display: flex;
    align-items: center;
    align-items: center;
    min-width: 150px;
    justify-content: center;
}

/* user edit */
.name {
    list-style: none;
    grid-column: 2/3;
}

.email {
    list-style: none;
    grid-column: 3/4;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox input {
    border-bottom: black 1px solid;
}

.edit {
    list-style: none;
    grid-column: 4/5;
}

.forms {
    display: flex;
    padding: 10px;
    align-items: center;
}

.forms input {
    min-height: 40px;
    min-width: 500px;
}

.forms p {
    font-weight: bold;
    padding: 10px;
    min-width: 150px;
}

/* Create user */

.buttons button {
    border-radius: 5px;
    background-color: #1d90ff;
    color: white;
    text-decoration: none;
    padding: 5px;
    min-height: 50px;
    display: flex;
    align-items: center;
    align-items: center;
    min-width: 150px;
    justify-content: center;
    cursor: pointer;
}
